---
import { type CollectionEntry, getCollection } from "astro:content";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
import slugify from "@utils/slugify";

export type Props = {
  post: CollectionEntry<"blog">;
};

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  return posts.map(post => ({
    params: { slug: slugify(post.data) },
    props: { post },
  }));
}

const { post } = Astro.props;

const { heading, description, date } = post.data;

const { Content } = await post.render();

const ogUrl = new URL(`${heading}.png`, Astro.url.origin).href;

const articleJsonLd = {
  "@context": "https://schema.org",
  "@type": "Article",
  "@id": `https://s-hirano.com/blog/${slugify(post.data)}`,
  headline: heading,
  description: description,
  datePublished: date.toISOString(),
  dateModified: date.toISOString(),
  author: {
    "@type": "Person",
    "@id": "https://s-hirano.com",
    name: "s-hirano-ist",
  },
  publisher: {
    "@type": "Person",
    "@id": "https://s-hirano.com",
    name: "s-hirano-ist",
  },
  url: `https://s-hirano.com/blog/${slugify(post.data)}`,
  image: ogUrl,
  inLanguage: "ja",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": `https://s-hirano.com/blog/${slugify(post.data)}`,
  },
};
---

<Layout title={heading} description={description} ogImage={ogUrl}>
  <script
    type="application/ld+json"
    is:inline
    set:html={JSON.stringify(articleJsonLd)}
  />
  <Header />
  <Main publishedDate={date.toLocaleDateString("ja")}>
    <article
      id="article"
      role="article"
      class="prose prose-sm mx-auto max-w-5xl sm:prose-base">
      <div class="sm:px-4">
        <Content />
      </div>
    </article>
  </Main>
  <Footer />
</Layout>
