---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import PostCard from "@components/PostCard.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { getCollection } from "astro:content";

const pathname = Astro.url.pathname;
const posts = getSortedPosts(await getCollection("blog"));
const pageTitle = "ブロク記事";
---

<Layout title={`${SITE.title} ${pathname}`}>
  <Header />
  <Main pageTitle={pageTitle}>
    <!-- <p class="prose prose-sm max-w-none pt-4 sm:prose-base"></p> -->
    <ul>
      {
        posts.map(({ data }) => (
          <PostCard
            href={`${pathname}/${slugify(data)}`}
            title={data.heading}
            description={data.description}
          />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
