---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import Rating from "@components/Rating.astro";
import { SITE } from "@config";
import { books as googleBooksApis } from "@googleapis/books";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const pathname = Astro.url.pathname;
const _books = (await getCollection("book"))[0]?.data.body ?? [];
const pageTitle = "読書記録";

const api = googleBooksApis({
  version: "v1",
});
const books = await Promise.all(
  _books.map(async _book => {
    const book = await api.volumes.list({ q: `isbn:${_book.ISBN}` });
    return {
      title: book.data.items?.[0]?.volumeInfo?.title ?? _book.title,
      subTitle: book.data.items?.[0]?.volumeInfo?.subtitle ?? "",
      authors: book.data.items?.[0]?.volumeInfo?.authors?.[0],
      description:
        book.data.items?.[0]?.volumeInfo?.description ?? "No description",
      tags: _book.tags,
      imageSrc:
        book.data.items?.[0]?.volumeInfo?.imageLinks?.thumbnail ??
        "/defaultOgImage.jpg",
      href: book.data.items?.[0]?.volumeInfo?.infoLink ?? "",
      rating: _book.rating,
    };
  }),
);
---

<Layout title={`${SITE.title}${pathname}`}>
  <Header />
  <Main pageTitle={pageTitle}>
    <p class="pt-4">
      {SITE.author}
       が印象に残っている本を記録したオンライン本棚です。
      <a href="https://developers.google.com/books" target="_blank">
        Google Books APIs
      </a>
       から情報を取得しています。
    </p>
    <div class="grid grid-cols-2 gap-4 pt-8">
      {
        books.map(book => (
          <a class="card shadow-xl" href={book.href} target="_blank">
            <figure>
              <img src={book.imageSrc} alt={book.title} />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{book.title}</h2>
              <p class="card-subtitle">{book.subTitle}</p>
              <div class="badge badge-primary">{book.authors?.toString()}</div>
              <p>{book.description}</p>
              <Rating rating={book.rating} />
              <div class="card-actions justify-end">
                {book.tags.map(tag => (
                  <div class="badge badge-outline">#{tag}</div>
                ))}
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </Main>
  <Footer />
</Layout>
