---
import appReviewImage1 from "@assets/dplan/app_review_1.jpeg";
import appReviewImage2 from "@assets/dplan/app_review_2.jpeg";
import appReviewImage3 from "@assets/dplan/app_review_3.jpeg";
import appReviewImage4 from "@assets/dplan/app_review_4.jpeg";
import appReviewImage5 from "@assets/dplan/app_review_5.jpeg";
import appStoreImage from "@assets/dplan/app_store.png";
import howToImage1 from "@assets/dplan/how_to_1.png";
import howToImage2 from "@assets/dplan/how_to_2.png";
import howToImage3 from "@assets/dplan/how_to_3.png";
import howToImage4 from "@assets/dplan/how_to_4.png";
import promotionImage from "@assets/dplan/promotion.png";
import PortfolioLayout from "@layouts/PortfolioLayout.astro";
import { Image } from "astro:assets";
---

<!-- TODO: change to use markdown -->
<PortfolioLayout
  headerTitle="D-PLAN"
  title="d-plan"
  subTitle="2018年頃にリリースしたiOSアプリの記録">
  <article class="prose prose-sm max-w-5xl pb-6 sm:prose-base">
    <p>独学で個人開発した旅行計画アプリとなります。</p>
    <p>
      2019年ごろまで実際にiOSアプリストアにリリースしていたものの、収益化に失敗したため、現在は取り下げているアプリとなります。
    </p>
    <p>
      プログラミング初心者の時に製作したものであるため、技術スタックの選定やコードは初心者ライクなところが多々あります。あらかじめご了承ください。
    </p>
    <p class="pb-4">
      ソースコードは
      <a href="https://github.com/s-hirano-ist/d-plan" target="_blank">
        github.com/s-hirano-ist/d-plan
      </a>
       に公開しています。
    </p>
    <Image src={promotionImage} alt="" />
    <Image src={appStoreImage} alt="" />

    <div class="grid grid-cols-2">
      <Image src={howToImage1} alt="" />
      <Image src={howToImage2} alt="" />
      <Image src={howToImage3} alt="" />
      <Image src={howToImage4} alt="" />
    </div>

    <Image src={appReviewImage1} alt="" class="w-full" />
    <Image src={appReviewImage2} alt="" class="w-full" />
    <Image src={appReviewImage3} alt="" class="w-full" />
    <Image src={appReviewImage4} alt="" class="w-full" />
    <Image src={appReviewImage5} alt="" class="w-full" />
  </article>
</PortfolioLayout>
