---
import portfolioImage from "@assets/portfolio.webp";
import AboutMe from "@components/AboutMe.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Notes from "@components/Notes.astro";
import PortfolioLinks from "@components/PortfolioLinks.astro";
import Timeline from "@components/Timeline.astro";
import { SITE } from "@config";
// import achievementsData from "@layouts/Achivements.json";
import educationData from "@content/portfolio/Education.json";
import qualificationData from "@content/portfolio/Qualification.json";
import workExperienceData from "@content/portfolio/WorkExperience.json";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Portfolio" description={`Portfolio of ${SITE.author}.`}>
  <main class="background main-contents" data-theme="noTheme">
    <Header title="Portfolio" darkModeDisabled />
    <section class="pt-8">
      <Image src={portfolioImage} alt="" class="w-full" />
      <div class="pt-4 sm:pt-8">
        <a id="scroll-button">
          <div class="flex justify-evenly">
            {
              [0, 0].map(_ => (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: #fff;">
                  <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z" />
                </svg>
              ))
            }
            <p class="font-bold">Scroll to portfolio</p>
            {
              [0, 0].map(_ => (
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="fill: #fff;">
                  <path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z" />
                </svg>
              ))
            }
          </div>
        </a>
      </div>
    </section>
    <section class="px-4 pb-4">
      <h2>Links</h2>
      <PortfolioLinks />
    </section>
    <section class="pb-4" id="about-me">
      <h2>About me</h2>
      <AboutMe />
    </section>
    <section class="pb-4">
      <h2>Education</h2>
      <Timeline data={educationData} />
    </section>
    <section class="pb-4">
      <h2>Work Experience</h2>
      <Timeline data={workExperienceData} />
    </section>
    <!-- <section class="pb-4">
      <h2>Achievements</h2>
      <Achievements />
    </section> -->
    <section class="pb-4">
      <h2>Qualification</h2>
      <Timeline data={qualificationData} />
    </section>
    <section class="px-4 pb-8">
      <h2>Notes</h2>
      <Notes />
    </section>
    <Footer darkModeDisabled />
  </main>
</Layout>

<style>
  .background {
    background: url("/portfolioBgImage.webp");
  }

  .main-contents h2 {
    @apply my-4 inline-block text-xl font-bold text-primary sm:my-8 sm:text-2xl;
  }
</style>
