---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import LinkCard from "@components/LinkCard.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
import { jsonToToc } from "@utils/jsonToHtml";
import slugify from "@utils/slugify";
import { type CollectionEntry, getCollection } from "astro:content";
import sanitizeHtml from "sanitize-html";

export type Props = {
  post: CollectionEntry<"news">;
};

export async function getStaticPaths() {
  const posts = await getCollection("news");
  return posts.map(post => ({
    params: { slug: slugify(post.data) },
    props: { post },
  }));
}

const { post } = Astro.props;

const { heading, description, body } = post.data;

const ogUrl = new URL(`${heading}.png`, Astro.url.origin).href;

const tocLinks = jsonToToc(post);
---

<Layout title={heading} description={description} ogImage={ogUrl}>
  <Header />
  <Main pageTitle={heading} dropdownItem={tocLinks}>
    <article
      id="article"
      role="article"
      class="prose prose-sm mx-auto max-w-5xl sm:prose-base">
      {
        body.map(d => {
          return (
            <div
              class="overflow-hidden rounded px-2 py-1 shadow-lg sm:px-4"
              id={d.title}>
              <h2 class="text-xl">{d.title}</h2>
              <div class="text-primary">
                <Fragment set:html={sanitizeHtml(d.quote ?? "")} />
              </div>
              <LinkCard url={d.url} />
            </div>
          );
        })
      }
    </article>
  </Main>
  <Footer />
</Layout>
