---
export type Props = {
  href?: string;
  title?: string;
  size: "large" | "wide";
  bgColor?: string;
  textColor?: string;
  clickable?: boolean;
  class?: string;
};

const {
  title,
  size,
  bgColor = "bg-white dark:bg-gray-800",
  textColor = "text-gray-900 dark:text-gray-100",
  class: className,
} = Astro.props;

const sizeClasses = {
  large: "col-span-1 row-auto",
  wide: "col-span-1 row-auto h-32",
};

const baseClasses = `
  ${sizeClasses[size]}
  ${bgColor}
  ${textColor}
  rounded-xl p-2 sm:p-4
  transition-all duration-300 ease-out
  lg:hover:scale-105 hover:shadow-lg hover:shadow-primary/20
  border border-gray-200 dark:border-gray-700
  group
  overflow-visible
  ${className || ""}
`;
---

<div class={baseClasses}>
  <div class="flex h-full flex-col justify-between gap-2">
    <div class="flex flex-col items-center space-y-2">
      <div class="flex items-center justify-center text-primary">
        <slot name="icon" />
      </div>

      {
        title && (
          <h3 class="text-center text-lg font-bold transition-colors duration-300 group-hover:text-primary">
            {title}
          </h3>
        )
      }
    </div>
    <div class="mt-2">
      <slot name="content" />
    </div>
    <div></div>
  </div>
</div>
