---
export type Props = {
  ariaLabel?: string;
  className?: string;
  href: string;
  // eslint-disable-next-line no-undef
  target?: astroHTML.JSX.HTMLAttributeAnchorTarget;
  title?: string;
};

const { href, target = "_self", className, ariaLabel, title } = Astro.props;
---

<a
  href={href}
  tabindex="0"
  class={`group inline-block p-1 underline decoration-dashed underline-offset-8 hover:text-primary ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={false}
  target={target}>
  <slot />
</a>
