---
export type Props = {
  href: string;
  target?: astroHTML.JSX.HTMLAttributeAnchorTarget;
  className?: string;
  ariaLabel?: string;
  title?: string;
};

const { href, target = "_self", className, ariaLabel, title } = Astro.props;
---

<a
  href={href}
  tabindex="0"
  class={`group inline-block p-1 hover:fill-skin-accent ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={false}
  target={target}>
  <slot />
</a>

<style>
  svg {
    @apply h-6 w-6;
  }
</style>
