---
import defaultOgImage from "@content/assets/defaultOgImage.jpg";
import { Image } from "astro:assets";
import { getOgpData } from "@utils/getOgpData";
export type Props = {
  url: string;
};
const { url } = Astro.props;

const ogp = await getOgpData(url);
const ogImage = ogp?.["og:image"];
const ogTitle = ogp ? ogp["og:title"] : url;
const ogDescription = ogp
  ? ogp["og:description"]
  : "No description on this page.";
---

<a href={url} target="_blank">
  <div class="flex w-full justify-start">
    {
      ogImage === undefined ? (
        <Image
          src={defaultOgImage}
          class="hidden size-32 object-cover sm:block"
          alt=""
        />
      ) : (
        // width and height is overwritten by tailwind class
        <Image
          src={ogImage}
          width="128"
          height="128"
          class="hidden size-32 object-cover sm:block"
          alt=""
        />
      )
    }
    <div class="w-full py-4 sm:px-6">
      <div class="mb-2 text-xl font-bold">{ogTitle}</div>
      <p>{ogDescription}</p>
    </div>
  </div>
</a>
