---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
}

const { href, className, ariaLabel, title } = Astro.props;
---

<a
  href={href}
  tabindex={"0"}
  class={`group inline-block ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={false}
>
  <slot />
</a>
