---
import GithubIcon from "@assets/icons/github.svg";
// import MailIcon from "@assets/icons/mail.svg";
import LinkButton from "@components/LinkButton.astro";
import { SITE } from "@config";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export const LOCALE = ["ja"];

type SocialMedia = "Github" /*| "GitLab" | "Mail" | "Instagram" | "Twitter"*/;

type SocialObjects = {
  name: SocialMedia;
  href: string;
  linkTitle: string;
  linkIcon: ImageMetadata;
}[];

export const socialLinks: SocialObjects = [
  {
    name: "Github",
    href: "https://github.com/s-hirano-ist",
    linkTitle: ` ${SITE.title} on Github`,
    linkIcon: GithubIcon,
  },
  // {
  //   name: "GitLab",
  //   href: "TODO: ",
  //   linkTitle: ` ${SITE.title} on Gitlab`,
  //   linkIcon: GitlabIcon,
  // },
  // {
  //   name: "Twitter",
  //   href: "TODO: ",
  //   linkTitle: ` ${SITE.title} on Twitter (X)`,
  //   linkIcon: TwitterIcon,
  // },
  // {
  //   name: "Instagram",
  //   href: "TODO: ",
  //   linkTitle: ` ${SITE.title} on Instagram`,
  //   linkIcon: InstagramIcon,
  // },
  // {
  //   name: "Mail",
  //   href: "TODO: use GMO e-mail address",
  //   linkTitle: `Send an email to ${SITE.title}`,
  //   linkIcon: MailIcon,
  // },
];
---

<div>
  {
    socialLinks.map(social => {
      return (
        <LinkButton href={social.href} target="_blank" title={social.linkTitle}>
          <Image src={social.linkIcon} alt="" />
        </LinkButton>
      );
    })
  }
</div>
