---
import type { Content } from "@content/_diy/data";
import { Image } from "astro:assets";

export type Props = {
  content: Content;
};
const { content } = Astro.props;
---

<swiper-container id="my-gallery" space-between="0" pagination={true}>
  {
    content.src.map(src => (
      <swiper-slide>
        <a
          href={src.src}
          data-pswp-src={src.src}
          data-pswp-width={src.width}
          data-pswp-height={src.height}
          target="_blank">
          <Image
            class="aspect-square object-contain"
            src={src}
            alt={content.name}
          />
        </a>
      </swiper-slide>
    ))
  }
</swiper-container>

<style>
  swiper-container::part(bullet) {
    @apply bg-primary;
  }

  swiper-container::part(bullet-active) {
    @apply bg-primary;
  }
</style>
