---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import Layout from "@layouts/Layout.astro";
import { markdownToToc } from "@utils/markdownToHtml";
import slugify from "@utils/slugify";
import { type CollectionEntry, getCollection } from "astro:content";

export type Props = {
  post: CollectionEntry<"summary">;
};

export async function getStaticPaths() {
  const posts = await getCollection("summary", ({ data }) => !data.draft);

  const postResult = posts.map(post => ({
    params: { slug: slugify(post.data) },
    props: { post },
  }));

  return postResult;
}

const { post } = Astro.props;

const { heading, description } = post.data;

const { Content } = await post.render();

const ogUrl = new URL(`${heading}.png`, Astro.url.origin).href;

const tocLinks = await markdownToToc(post.body);
---

<Layout title={heading} description={description} ogImage={ogUrl}>
  <Header />
  <Main pageTitle={heading} dropdownItem={tocLinks}>
    <article
      id="article"
      role="article"
      class="prose mx-auto flex max-w-5xl flex-row">
      <div id="post-main-contents">
        <Content />
      </div>
    </article>
  </Main>
  <Footer />
</Layout>
