---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import PostCard from "@components/PostCard.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { getCollection } from "astro:content";

const posts = getSortedPosts(await getCollection("summary"));

const activeNav = "summary";
const pageTitle = "分野別まとめ記事";
---

<Layout title={`${activeNav} | ${SITE.title}`}>
  <Header activeNav={activeNav} />
  <Main pageTitle={pageTitle}>
    <ul>
      {
        posts.map(({ data }) => (
          <PostCard
            href={`/${activeNav}/${slugify(data)}`}
            title={data.heading}
            description={data.description}
          />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
