---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Main from "@components/Main.astro";
import PostCard from "@components/PostCard.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { getCollection } from "astro:content";

const pathname = Astro.url.pathname;
const posts = getSortedPosts(await getCollection("summary"));
const pageTitle = "分野別まとめ記事";
---

<Layout title={`${SITE.title} ${pathname}`}>
  <Header />
  <Main pageTitle={pageTitle}>
    <p class="prose prose-sm max-w-none pt-4 sm:prose-base">
      {
        SITE.author
      }が「学生の間に受けたかった授業」をテーマに、入門するきっかけとなるまとめ記事を目指して執筆しました。


      <br />
       可能な限り要点のみを短くまとめているため、興味が湧いたら下部の参考文献を読んでみてください。
      ただし、読んでもらうことよりも、要点をまとめて自分の中で整理することを目的としています。


      <br />
       掲載を取りやめてほしい、あるいは著作権侵害があると思われるリンクやコメントがあれば、


      <span class="font-bold">{SITE.email}</span>
       宛にご連絡ください。
    </p>
    <ul>
      {
        posts.map(({ data }) => (
          <PostCard
            href={`${pathname}/${slugify(data)}`}
            title={data.heading}
            description={data.description}
          />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
