---
import { SITE } from "@config";
import "@styles/base.css";
import { ViewTransitions } from "astro:transitions";

export type Props = {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
};

const IS_DEV = import.meta.env.MODE === "development";

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
  ogImage = SITE.ogImage,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const socialImageURL = new URL(
  ogImage ? ogImage : SITE.ogImage,
  Astro.url.origin,
).href;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="192x192" href="touch-icon.png" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
      rel="stylesheet"
    />

    <!-- Smooth Scroll -->
    <script>
      import Lenis from "@studio-freight/lenis";
      const lenis = new Lenis();
      function raf(time: any) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);

      const anchor = document.getElementById("scroll-button");
      anchor?.addEventListener("click", e => {
        e.preventDefault(); // prevent changing URL
        lenis.scrollTo("#about-me");
      });
    </script>

    <!-- Vercel Insights -->
    <script>
      declare global {
        interface Window {
          va: () => void;
          vaq: Array<unknown>;
        }
      }

      window.va =
        window.va ||
        function () {
          (window.vaq = window.vaq || []).push(arguments);
        };
    </script>
    {!IS_DEV && <script defer src="/_vercel/insights/script.js" />}

    <!-- Color Scheme -->
    <script>
      const themeValue = window.matchMedia("(prefers-color-scheme: dark)")
        .matches
        ? "dark"
        : "light";

      function setPreference() {
        document.firstElementChild?.setAttribute("data-theme", themeValue);
      }
      setPreference();

      window.onload = () => {
        document.addEventListener("astro:after-swap", () => setPreference());
      };
    </script>

    <!-- Google tag (gtag.js) -->
    <script src="https://www.googletagmanager.com/gtag/js?id=G-E84VM45L0L"
    ></script>
    <script>
      declare global {
        interface Window {
          va: () => void;
          vaq: Array<unknown>;
          dataLayer: Array<unknown>;
        }
      }
      window.dataLayer = window.dataLayer || [];
      function gtag(...args: any[]) {
        // eslint-disable-next-line no-undef
        window.dataLayer.push(args);
      }
      gtag("js", new Date());
      gtag("config", "G-E84VM45L0L");
    </script>
  </head>
  <body>
    <div class="main-click-area">
      <slot />
    </div>
  </body>
</html>
