---
import { SITE } from "@config";
import "@styles/base.css";
import "@fontsource-variable/noto-sans-jp";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
// import { ViewTransitions } from "astro:transitions";

export type Props = {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
};

const IS_DEV = import.meta.env.MODE === "development";

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
  ogImage = SITE.ogImage,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const socialImageURL = new URL(
  ogImage ? ogImage : SITE.ogImage,
  Astro.url.origin,
).href;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      rel="apple-touch-icon"
      href="/touch-icon.png"
      type="image/png"
      sizes="180x180"
    />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- FIXME: enabling ViewTransitions will not change themes after moving page -->
    <!-- <ViewTransitions /> -->

    <!-- Manifest -->
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <!-- Smooth Scroll -->
    <script>
      import Lenis from "lenis";
      const lenis = new Lenis();
      function raf(time: any) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }
      requestAnimationFrame(raf);
      const anchor = document.getElementById("scroll-button");
      anchor?.addEventListener("click", e => {
        e.preventDefault(); // prevent changing URL
        lenis.scrollTo("#about-me");
      });
    </script>

    <!-- Color Scheme -->
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "myDark");
      } else {
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme"),
        );
      }
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applied before rendering anything.
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>

    <!-- Rehype autolink headings font -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />

    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-E84VM45L0L"></script>

    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-E84VM45L0L");
    </script>

    <!-- Scroll animation (taos) -->
    <script is:inline>
      document.documentElement.classList.add("js");
    </script>

    <!-- Vercel -->
    {!IS_DEV && <SpeedInsights />}
    <Analytics />
  </head>
  <body>
    <slot />
    <!-- Scroll animation (taos) -->
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
  </body>
</html>
