---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header, { ContentsType } from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PostCard from "@components/PostCard.astro";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  posts: CollectionEntry<"news">[];
  activeNav: ContentsType;
  pageTitle: string;
}

const { posts, activeNav, pageTitle } = Astro.props;
---

<Layout title={`${activeNav} | ${SITE.title}`}>
  <Header activeNav={activeNav} />
  <Main pageTitle={pageTitle}>
    <ul>
      {
        posts.map(({ data }) => (
          <PostCard
            href={`/${activeNav}/${slugify(data)}`}
            title={data.title}
            description={data.description}
          />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
