---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import LinkCard from "@components/LinkCard.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"news">;
}

const { post } = Astro.props;
const { title, description, body } = post.data;
const ogUrl = new URL(`${title}.png`, Astro.url.origin).href;
---

<Layout title={title} description={description} ogImage={ogUrl}>
  <Header />
  <Main pageTitle={title}>
    <article id="article" role="article" class="prose mx-auto max-w-5xl">
      {
        body.map(d => {
          return (
            <div class="shadow-lg py-1 rounded overflow-hidden sm:px-4">
              <h2 class="text-xl">{d.title}</h2>
              <Fragment set:html={d.quote} />
              <LinkCard url={d.url} />
            </div>
          );
        })
      }
    </article>
  </Main>
  <Footer />
</Layout>
