---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import PostSidebar from "@layouts/PostSidebar.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"summary">;
}

const { post } = Astro.props;

const { heading, description } = post.data;

const { Content } = await post.render();

const ogUrl = new URL(`${heading}.png`, Astro.url.origin).href;
---

<Layout title={heading} description={description} ogImage={ogUrl}>
  <Header />
  <Main pageTitle={heading}>
    <article
      id="article"
      role="article"
      class="prose mx-auto flex max-w-5xl flex-row"
    >
      <div
        id="post-side-nav"
        class="bg-skin-card fixed left-0 z-10 h-full w-0 overflow-y-auto overflow-x-hidden rounded-lg pt-8 opacity-95 duration-500"
      >
        <span class="absolute right-0 top-0 m-4 text-2xl">
          <svg xmlns="http://www.w3.org/2000/svg" class="scale-100">
            <path
              d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
            ></path>
          </svg>
        </span>
        <PostSidebar post={post.body} />
      </div>
      <div id="post-main-contents">
        <Content />
      </div>
    </article>
  </Main>
  <script is:inline src="/toggle-sidebar.js"></script>
  <Footer />
</Layout>
