---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { CollectionEntry } from "astro:content";
import PostSidebar from "./PostSidebar.astro";
import Main from "@layouts/Main.astro";

// TODO: slide from the side to extract sidebar

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, description } = post.data;

const { Content } = await post.render();

const ogUrl = new URL(`${title}.png`, Astro.url.origin).href;
---

<Layout title={title} description={description} ogImage={ogUrl}>
  <Header />
  <Main pageTitle={title}>
    <article
      id="article"
      role="article"
      class="prose mx-auto flex max-w-5xl flex-row"
    >
      <div id="post-side-nav" class="sidenav">
        <span class="close-sidebar-button">
          <svg xmlns="http://www.w3.org/2000/svg" class="scale-100">
            <path
              d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
            ></path>
          </svg>
        </span>
        <PostSidebar post={post.body} />
      </div>
      <div id="post-main-contents" class="main-contents">
        <span class="open-sidebar-button">
          <svg
            id="open-sidebar-icon"
            xmlns="http://www.w3.org/2000/svg"
            class="scale-100"
          >
            <path
              id="open-sidebar-svg"
              d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM4 19V7h6v12H4zm8 0V7h8V5l.002 14H12z"
            >
            </path>
            <path d="M6 10h2v2H6zm0 4h2v2H6z"></path>
          </svg>
        </span>
        <Content />
      </div>
    </article>
  </Main>
  <script is:inline src="/toggle-sidebar.js"></script>
  <Footer />
</Layout>

<style>
  .sidenav {
    @apply fixed left-0 top-0 z-10 h-full w-0 overflow-x-hidden bg-skin-card pt-16 duration-500;
  }
  .open-sidebar-button {
    @apply fixed;
  }
  .close-sidebar-button {
    @apply absolute right-0 top-0 m-8 text-2xl;
  }
  .main-contents {
    @apply duration-500;
  }
</style>
